/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  font-family: sans-serif;
  line-height: 1.5;
  background:url("https://cdn.glitch.global/9a5417db-bb1a-4800-b72a-a85bd7bcfce3/bg_image2.png?v=1681142808505");
  min-height : 100%;
  min-width : 100%;
  background-size: cover;
  background-repeat:no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
}
@media (max-width: 576px) {
  #login {
    width: 75% !important;
  }
}
@media (max-width: 576px) {
  #signup {
    width: 75% !important;
  }
}
/*Text of the main page for unidentificated users  */
.titles{
/*   color: #fec39eff; */
  font-family: system-ui;
  color: white;
  font-weight: bold;
}
