<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="https://cdn.glitch.global/9a5417db-bb1a-4800-b72a-a85bd7bcfce3/SnapSort4.png?v=1681151222606"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Import bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
    <title>Inicio de sesion SnapSort</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="{{assetPath}}/style.css" />
  </head>
  <body>
    <div
      class="container h-100 d-flex flex-column align-items-center justify-content-center"
    >
      {{#if errorMessage}}
      <div class="alert col-4 alert-warning">
        <strong>Por favor, inicia sesión para acceder a ese contenido</strong> 
      </div>
      {{/if}}
      <div class="rounded col-lg-4 bg-light card p-4" style="--bs-bg-opacity: .9;">
        <div class="card-body">
          <a href="/" >
            <img
              src="https://cdn.glitch.global/9a5417db-bb1a-4800-b72a-a85bd7bcfce3/SnapSort3.png?v=1681311768618"
              width="100rem"
              class="row aling-self-center"
            />
          </a>
          <h1 class="row py-2"> Inicia sesión </h1>
          <form method="POST" action="/login" >
            <div class="row form-outline mb-4">
              <input
                type="text"
                id="usernameInput"
                name="username"
                required
                class="form-control"
                placeholder="Nombre de usuario*"
                value= "{{#if username}}{{username}}{{/if}}"
              />
            </div>

            <div class="row form-outline mb-4">
              <input
                type="password"
                id="passwordInput"
                name="password"
                required
                class="form-control {{#if errorPassword}} is-invalid{{/if}}"
                placeholder="Contraseña*"
              />
              {{#if errorPassword}}
                  <div class="invalid-feedback">
                    {{errorPassword}}
                  </div>
              {{/if}}
            </div>
            <div class="row justify-content-between">
              <button
                type="submit"
                class="btn btn-dark col-4 btn-block mb-2"
              >Entrar</button>
              <a href="/signup" class="text-end link-primary col-8" style="font-size: 0.6rem;">¿Sin cuenta? Crea una aquí</a>
            </div>
          </form>
        </div>
      </div>

    </div>

  </body>
</html>